@media only screen and (max-width: 767px) {
    .hidden-mobile {
        display: none !important;
    }
    
    .visible-mobile {
        display: block !important;
    }

    footer .site-branding {
        text-align: center;
    }
 
    footer .footer-social-list{
        justify-content: center;
    }

    #home-page .visible-mobile {
        margin-bottom: 5em;
    }

    #home-page {
        text-align: center;
    }

    #home-page .site-branding {
        font-size: 3em;
        margin-bottom: 3em;
    }

    #home-page .bttn-1 {
        margin-top: 5em;
    }
}


