<footer class="footer-area footer" style="background-image: url('{{ blog.url }}/assets/images/vendor/footer-shape.png'); background-position: left top;">
  <div class="footer-bottom">
    <div class="container">
      <div class="row start-height">
        <div class="col-xs-12 col-sm-4">
          <div class="site-branding white">
            <a href="index.html">magnif<span class="primary-color">ai</span></a>
          </div>
          <div class="hidden visible-xs space-30"></div>
        </div>

        <div class="col-sm-4 col-xs-12 copyright">
          <div>
            {{ site.name }} © {{ site.time | date: '%Y' }}
            <br />
            Made with ❤ in Austin, Texas.
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <!-- <ul class="footer-social-list">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul> -->
        </div>

        <div class="hidden visible-xs space-30"></div>
      </div>
    </div>
  </div>
</footer>